@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações Gerais */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Libre Baskerville";
}


header {
    background-color: rgb(100, 153, 223);
    color: aliceblue;
    padding: 60px;
    text-align: center;
}

main {
    background-color:rgb(147, 174, 206) ;
    flex: 1;
    padding: 48px 38px;
    width:100%
    
}

about-section {
    display:block ;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#titulo-sobre-mim {
    font-size: 30px;
    border-bottom: 2px solid rgb(104, 142, 199) ;
    margin-bottom: 10px ;
   
}

.texto-sobre-mim {
    font-size: 15px;
}

hobbies{
    display:block ;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

#titulo-hobbies {
    font-size: 30px;
    border-bottom: 2px solid rgb(104, 142, 199) ;
    margin-bottom: 10px ;
}

ul{
    list-style: none;
    padding:0 ;
    display:flex ;
    gap: 12px
}

li{
    background-color: rgb(158, 184, 224) ;
    padding: 12px;
    border-left: 3px solid  rgb(0, 0, 0);
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: rgb(181, 216, 233);
    transform: translateX(5px);
    transition: all 0.3s ease;
}